<%= simple_form_for @post do |form| %>
  <form>
    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='mb-3'>
      <%= form.input :title, input_html: { class: 'form-control' }, wrapper: false, label_html: {class: 'form-label' }%>
    </div>

    <div class='mb-3'>
      <%= form.input :content, input_html: { class: 'form-control' }, wrapper: false, label_html: {class: 'form-label' }%>
    </div>

    
    <%= form.button :submit, class:'btn btn-dark' %>
  </form>
  
<% end %>
