<p style="color: green"><%= notice %></p>
  <div class="container">
  <!-- Object Partial 

   - @post object (instance of Post model) that responds to to_partial_path

   - a local variable named "post" will be automatically assigned - below is a short hand for [...], post: @post -->

  <%= render @post %>

  <div>
    <%= link_to "Edit", edit_post_path(@post), class:'text-decoration-none' %> |
    <%= link_to "Back to posts", posts_path, class:'text-decoration-none' %>

    <%= button_to "Destroy this post", @post, method: :delete, class:'btn btn-danger' %>
  </div>
</div>
